body{
  font-size: 24px;
}
.container{
  margin-top:10%;
  
}
.google__image{
  display: block;
  margin:auto;
}

.center{
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.bar--size{
  width:80%;
  border: none;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

input:focus{
  outline: none;
}

.button{
  font-size: 18px;
  padding: 15px;
  margin-left: 20px;
  background-color: #f8f9fa;
  border-radius: 3px;
  border: none;
}


.search__box{
  border-radius: 50px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
  border:1px solid black;
  padding: 10px;
  width: 50%;
}

.nav__bar--top{
  
  float:right;
}

.nav--top{
  right:0;
  position: fixed;
  top:0;
  float:right;
  font-size: 18px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}

nav a{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer--color{
  
  width: 100%;
  font-size: 18px;
  
}

.nav--bottom{
  background-color: #f2f2f2;
  bottom: 0;
  left: 0;
  position: fixed;
  height:50px;
  width:100%;
  
  display: flex;
  align-items: center;
  padding:10px;
}

a{
  text-decoration: none;
  color:black;
}
a:hover{
  text-decoration: underline;
}

.left{
  width:65%;
  justify-content: start;
}
.right{
  width:35%;
  justify-content: flex-end;
  text-align: right;
}

div a{
  margin-left: 10px;
  margin-right: 10px;
}